.button--primary {
  position: relative;
  overflow: hidden;
  border: none;
  text-transform: capitalize;
  text-align: center;
  background-color: #111827;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 26px;
  overflow: hidden;
  border-radius: 9999px;
  line-height: 1;
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    bottom: 100%;
    width: 0%;
    background-color: #fff;
    z-index: 1;
    border-radius: 9999px;
    // transition: all 0.5s cubic-bezier(0.05, 0.83, 0.79, 0.96);
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    &::after {
      background-color: #ff4136;
      width: 100%;
    }
  }
}
